/* @import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    margin: 0;
    font-family: 'Work Sans', sans-serif;
}

h1{
    font-size: 24px;
    padding: 10px;
    color: #DDE6ED;
    font-weight: 700;
}

ul {
    list-style-type:none;
    margin: 0;
    padding: 0;
    width: 16%;
    background-color: #27374D;
    position: fixed;
    height: 100%;
    overflow: auto;
}

li a{
    display: block;
    color:#DDE6ED;
    padding: 8px 10px;
    text-decoration: none;
}

li a.active{
    background-color: #526D82;
    color: #DDE6ED;
}

li a:hover:not(.active){
    background-color: #9DB2BF;
    color: #DDE6ED;
} */